*{
    padding: 0;
    margin: 0;
}

.main-container{
    width: 70%;
    background: #eee;
    text-align: center;
    position: relative;
    margin: 1rem auto;
}

.div1{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    
}

.div1 p{
    text-align: center;
    line-height: 6rem;
    font-weight: 800;
    
}
