* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --button : #000;
}
.container{
    position: relative;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.main-container .form-element{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main-container .form-element .text-tag{
    padding: 1rem;
}
.main-container .form-element .text-tag h1{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: monospace;
}
.main-container .form-element #anglesForm{
    text-align: center;
}
.main-container .form-element #anglesForm input{
    width: 15%;
    height: 3rem;
    margin: 0 1.2rem 1rem 1.2rem; 
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--button);
}
.main-container .goBack{
    margin: 0 auto 1rem;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    background: transparent;
    border: 1px solid var(--button);
}
.main-container .form-element button{
    display: block;
    /* height: 1.8rem; */
    margin: 0 auto 1rem;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--button);
    font-weight: 800;
}
.footer-container {
    /* text-align: center; */
    /* height: 100%; */
} 
.footer-container button{
    display: block;
}
.footer-icon{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 95%;
    justify-content: center;
    margin: 1.6rem;
}

.footer-icon > *{
    margin: 0.4rem;
    padding: 0.5rem;
    /* border: 2px solid var(--button); */
    transition: 500ms;
    animation-timing-function: linear;
}

/* Applying syles inside all the children in footer-icon class  */
.footer-icon > * :hover{
    transform: scale(1.2);
}
.main-container .form-element button:hover{
    background: #fff;
}

.main-container .goBack:hover{
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}
.output{     
    font-size: larger;
    font-weight: 700;
  }
@media only screen and (max-width: 600px) {
    .main-container .form-element{
        width: 100%;
    }
    .output{     
    font-size: smaller;
  }
  
}