/* *{
    margin: 0;
    padding: 0;
}

.formdata .radio {
    margin: 1rem;
    padding: 1rem;
}
 */
 *{
    margin: 0;
    padding: 0;
}
:root{
    --button:#000;
}
.formdata{
    flex-basis: 50vw;
}
.scoreContainer{
    margin: 1rem auto 1rem;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    background: transparent;
    border: 1px solid var(--button);
}

/* footer */
.footer-container button{
    display: block;
}
.footer-icon{
    position: relative;
    /* bottom: 0; */
    display: flex;
    justify-content: center;
    margin: 1.6rem;
}

.footer-icon > *{
    margin: 0.4rem;
    padding: 0.5rem;
    /* border: 2px solid var(--button); */
    transition: 500ms;
    animation-timing-function: linear;
}

/* Applying syles inside all the children in footer-icon class  */
.footer-icon > * :hover{
    transform: scale(1.2);
}
/*  */

 @media only screen and (max-width: 600px) {
   /*  .form-container{
        display: block;
        justify-content: flex-start;
    } */
    .formdata{
        flex-basis: 100vw;
    }
  }